.mdl-chip {
    height: 32px;
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    line-height: 32px;
    padding: 0 12px;
    border: 0;
    border-radius: 16px;
    background-color: #dedede;
    display: inline-block;
    color: rgba(0,0,0,.87);
    margin: 2px 0;
    font-size: 0;
    white-space: nowrap;

    margin-right: 5px;
}

.mdl-chip__text {
    font-size: 13px;
    vertical-align: middle;
    display: inline-block;
}

.mdl-chip--deletable {
    padding-right: 4px;
}

.mdl-chip__action, .mdl-chip__contact {
    display: inline-block;
    vertical-align: middle;
    overflow: hidden;
    text-align: center;
}
.mdl-chip__action {
    height: 24px;
    width: 24px;
    background: 0 0;
    opacity: .54;
    cursor: pointer;
    padding: 0;
    margin: 0 0 0 4px;
    font-size: 13px;
    text-decoration: none;
    color: rgba(0,0,0,.87);
    border: none;
    outline: none;
}

.mdl-chip a {
    padding: 0 !important;
}